*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: azure;
    color: rgb(red, green, blue);
    text-align: center;
    padding: 10px;
}
nav{
    display: flex ;
    justify-content: center;
    background-color: aquamarine;
}
nav ul{
display: flex;
justify-content: center;
margin: 0;
}
nav ul li{
    margin: 20px;
    list-style: none;
}
nav ul li a{
    color: black;
 text-decoration: none;
}
main{
    padding: 20px;
    
}
h2{
    text-align: center;
    margin: 20px;
    color: aqua;
}
p{
    text-align: center;
    color: black;
}
.row{
    display: flex;
    width: 100px;
    height: 400px;
}
.col-3{
    margin: 10px;
    background-color: bisque;

}
footer{
    background-color: azure;
    height: 100px;
}footer p{
    text-align: center;
    padding-top: 40px;
} 
/* applying media query */
@media screen and(max-width:400px){
    *{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    header{
        background-color: azure;
        color: aquamarine;
    }
    main{
        background-color: azure;
    }
    h3,h2,h1{
        color: azure;
    }
    .row{
        display: flex;
        flex-direction: column;
        margin-bottom: 400px;
    }
    .col-3{
        padding: 30px;
    }
}

